
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, 
legend, img, div,header,nav,footer,input,form,button,a{ 
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Microsoft Yahei", 微软雅黑;
	 }	 
h1, h2, h3, h4, h5, h6{font-weight: 100;}
	 
fieldset, img { border:none; }

img{vertical-align: top;}

em,i,strong,b{ font-style:normal; font-weight:normal; }

ul, ol { list-style:none; } 

p{font-size:12px;}

a {text-decoration:none; color: #363636; }
a:hover {text-decoration:none; }

.ind{text-indent: 2em;}

.noborder{border: none;}

.floatL{float: left;}

.floatR{float: right;}

.auto{margin: 0 auto;}

/*头部*/
.header{
	width:100%;
	height:89px;
	border-bottom:1px solid #d1d1d1;
	.header_body{
		width:1100px;
		height:89px;
		margin:0 auto;
		position: relative;
		.top{
			height:44px;
			border-bottom: 1px solid #f0f0f0;
			line-height: 44px;
			padding-left: 15px;
		}
		.logo{
			width: 250px;
			height: 88px;
			position:absolute;
			right: 0;
			left: 0;	
			top: 0;
			margin:auto;
				h1 a{
				display: block;
				width: 250px;
				height: 88px;
				background: url(../images/logo.jpg) no-repeat;
			} 
			span{display: none;}
		}
		.bottom{
			height:44px;
			.nav{
				width: 100%;
				height: 44px;
				.a,.b{
					/*width: 375px;*/
					height: 44px;
					display: flex;
					float: left;
					li{
						display: flex;
						border-left: 1px solid #f0f0f0;
						align-items: center;
						justify-content: center;
						padding: 0 20px;

					}
					a:hover{color: #07c7d3;text-decoration:none; }
					li:nth-child(2){border-right:1px solid #f0f0f0;}

				}
				.b{float: right;}
			}
		}
	}
}

/*尾部*/
.footer{
	width: 100%;
	height: 756px;
	.link{
		height: 369px;
		background: #f6f6f6;
		.link_top{
			width: 100%;
			height: 20px;
			background: url(../images/footer_bg.gif) repeat-x;
		}
		.link_bottom{
			width: 1100px;
			display: flex;
			padding-top:80px;
			justify-content: space-around;
			ul {
				h4{color: #07c7d3;line-height: 40px;}
				li{
					line-height: 20px;
					a{display: inline-block;cursor: pointer;}
				}
				a:hover{background: #07c7d3;}
			}
		}
	}
	.copy{
		color: #fff;
		height: 367px;
		background: #07c7d3;
		font-size: 11px;
		h2{line-height: 135px;font-size: 27px;}
		ul,p{
			width: 710px;
			display: flex;
			line-height: 40px;
			li{padding: 0 8px;}
		}
		a{color: #fff;}

	}
	.tongji{
		height: 20px;
	}
}

/*左边部分*/
.container{
	width: 1130px;
	border: 1px solid red;
	padding-top:25px;
	.left{
		width:242px;
		height: 2000px;
		float: left;
		.call{
			background: #f6f6f6;
			height: 615px;
			margin-bottom: 25px;
		}
		.classify{
			height: 650px;
			background: #f6f6f6;
		}
		.ranking{
			height: 980px;
			border: 1px solid #f6f6f6;
		}
	}
}