.main{
	width: 1100px;
	height: 672px;
	padding-top: 100px;
	.left{
		width: 656px;
		float: left;
		/*border:1px solid red;*/
		form{
			font-size: 12px;
			padding-left: 80px;
			h2{color: #229ca8;font-size: 19px;}
			p{
				margin: 20px 0;
				line-height: 26px;
				input{
					margin: 0 10px;
					height: 27px;
					width: 222px;
					border:none;
					border: 2px solid #ccc;
				}
				.radios,.cbox{
					width: 13px;
					height: 13px;
				}
				.yanzhengma{width: 130px;}
				img{
					width: 80px;
					height: 26px;
					/*display: inline-block;*/
					border:1px solid;
					margin-right: 10px;
				}
				span{
					width: 60px;
					display: inline-block;
					text-align: right;
				}
				a{color: #229ca8;}
			}
		}
	}
	.right{
		width: 292px;
		height: 360px;
		float: right;
		
		.right_login{
			height: 88px;
			background: #f5f6f1;
			padding-top: 20px;
			p{line-height: 25px;}
			.btn{
				width: 140px;
				height: 30px;
				background: #229ca8;
				border-color: #229ca8;
				color: #fff;
			}
		}
		.sanfang_login{
			background: #f5f6f1;
			height: 272px;
			margin-top:2px;
			text-align: center;
			padding: 0 20px;
			p{padding: 15px 0;}
			a{
				padding: 0 5px 5px 0;
				display: inline-block;
			}
		}
	}
}
